.sidebox
{

 box-shadow: 0px 1px 3px rgba(0, 0, 0,0.298); 

background-color: #f7f7f7;/*#FAFAFA*/
color: #3F51B5;
border-width: 2px;

border-color: #FFF;
border-radius: 5px;
padding: 17px 30px;
margin-top: 15px;

}

.contsidebox
{

 box-shadow: 0px 1px 3px rgba(0, 0, 0,0.298); 

background-color: rgba(3, 190, 252, 0.14);/*#FAFAFA*/
color: white;
border-width: 2px;

border-color: #FFF;
border-radius: 5px;
padding: 15px 10px;    /*padding: 17px 30px;*/
/*margin-top: 15px;*/

}

.frm > div>input
{
	background-color:#fff;
	border:1px solid #d9d9d9;
	border-radius: 1px;
}

.frm > div>input:focus
{
	
	border: 1px solid #4d90fe;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.atext > li > a
{
	text-decoration: none;
}

/*
.btn
{
	transition: all 0.2s ease-in-out 0s;
border-width: 2px;
font-size: 13px;
font-weight: bold;
letter-spacing: 2px;
text-decoration: none;
word-spacing: 1px;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
display: inline-block;
border: 2px solid transparent;
white-space: nowrap;
-moz-user-select: none;
}
*/

.btn-lg
{
	
padding: 16px 27px;

line-height: 1.33333;
border-radius: 0px;
}

.btn-default
{
	background-color: transparent;
}

.bookul
{
	margin-top:-10px;
	list-style-type: none;
}

.bookli
{
	background-color: #E09E2E;
}

.booklihead
{
	font-size: 20px; 
	line-height: 3em;
	color:white;
	
}

.booklibody
{
	border: 1px solid #B8312F; 
	margin-top: -10px;
}
.syllbli > li
{
margin-bottom: 9px;	
}

.syllabll > li
{
margin-bottom: 9px;
border-bottom:1px solid gray;	
}

.syllnote
{
	font-size: 18px;
}

.imaage {
    position:relative;
}
.imaage .text {
    position:absolute;
    top:110px;
    left:-10px;
    
     
}

.sendbutton
{
	background-color:#F0F8FF; 
	opacity: 0.8; 
	border-radius: 20px; 
	width:110px;
	
}
.sendcolor
{
	color:black;
}

.tab
{
	border: 1px solid #FFF;
	
}



